.Header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  .Child{
    color: #fff;
    padding: 70px;
    border-radius: 20px;
    background: linear-gradient(teal, rgb(40, 184, 181));    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Child a{
    color: green;
    font-size: 25px;
  }